<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/demo.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/formbuilder/css/admin.css') }}" type="text/css" media="all" />
        <title>{% block title %}Demo Bundle{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="symfony-wrapper">
            <div id="symfony-header">
            </div>

            {% if app.session.flash('notice') %}
                <div class="flash-message">
                    <em>Notice</em>: {{ app.session.flash('notice') }}
                </div>
            {% endif %}

            <div class="symfony-content">
                {% block content %}
                {% endblock %}
            </div>

            {% if code is defined %}
                <h2>Code behind this page</h2>
                <div class="symfony-content">{{ code|raw }}</div>
            {% endif %}
        </div>
    </body>
</html>
