<tr>
	<td>{{ file.Id }}</td>
	<td>{{ file.Name }}</td>
	<td>{{ file.Description }}</td>
	<td>{{ file.CreatedAt }}</td>
	<td>{{ file.UpdatedAt }}</td>
	<td>
		<ul class="sf_admin_actions">
			<li class="sf_admin_action_edit">
				<a href="{{ path('_adminformbuilder_edit', { 'id': file.Id }) }}" title="Edit {{ file.Name }} form"> 
					Edit
				</a>
			</li>
		</ul>
	</td>
</tr>